<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PROCLEANER</title>
</head>
<body>
    <h1 style="background-color:chartreuse"><a href="/">PROCLEANER</a></h1>
    <div class="funtion-btn">
        <a href="/register">Register</a>
    </div>
    {{{body}}}

    <div class="footer" style="padding-top: 100px;">
        <h1>Contact</h1>
        <form method="post" action="/contact">
            <label >Name</label>
            <input type="text" name="name" id="">
            <label >Email</label>
            <input type="email" name="email" id="">            
            <label >Phone Number</label>
            <input type="number" name="phone" id="">            
            <label >Message</label>
            <input type="text" name="message" id="">       
            <button>submit</button>     
        </form>
    </div>
</body>
</html>