html.dark{
    --text-color:#FFFFFF;
    --icon-color:brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(98%) hue-rotate(40deg) brightness(113%) contrast(100%);
    --color-body:#2f3441;
    --header-br-color:#171C28;
    --Secondary-Color-Secondary-1:#fff;
    --Secondary-Color-Background:#292E39;
    --box-shadow-avatar:0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    --br-separate:#EDEDF6; 
    --box-shadow-group:0px 20px 60px 10px rgba(0, 0, 0, 0.20);
    // dropdown
    --background-dropdown: #292E39;
    --color-box-shadow:rgba(23, 28, 40, 0.40);
    --color-arrow-top: brightness(0) saturate(100%) invert(16%) sepia(10%) saturate(1199%) hue-rotate(183deg) brightness(87%) contrast(91%);
    --menu-top-main-color-border-right:#171C28;
    // menu-content
      --Secondary-Color-Secondary-1:#B9BABE;
      --filter-case-2:brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1619%) hue-rotate(237deg) brightness(97%) contrast(103%);
       --Blue-Blue-hover:#0071DC;
      //  navbar dis
       --color-navbar-dis:#292e39;
      //  cate-item
      --br-cate-item:#171C28;
      --br-cate-item-picture:lightgray 8.558px 7.136px / 87.535% 87.021% no-repeat;
      // filter
      --br-filter:#171C28;
      --br-like:#292E39;
      // product card
      --br-product-card:#171C28;
      --color-box-shadow-pro-card:0px 20px 60px 10px rgba(0, 0, 0, 0.20);
      // slider
      --color-slider:#D2D1D6;
      // tag
      --color-tag:#171C28;
      // input 
      --color-border:#fff;
      // footer
      --footer-br-color:#171C28;
       --icon-color-footer: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(331deg) brightness(102%) contrast(101%);
      //  sign-up
      --Secondary-Color-Secondary-1:#B9BABE;
      --Secondary-Color-Secondary-2:#9E9DA8;
      --Secondary-Color-Secondary-3: #D2D1D6;
      --Blue-Blue: #0071DC;
    //  #4caf50
    // #83ca50
    // the theme for the blog
    
}