<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="footer__left">
                <h2 class="footer__heading">
                    HomeCare
                </h2>
                <a href="#!">
                    <div class="footer__more">
                        <h5 class="fa-sharp fa-solid fa-location-dot" style="color: #fff;"></h5>
                        <span>216 Nguyễn Thị Minh Khai, P. 6, Quận 3, TP. HCM</span>
                    </div>
                </a>
                <a href="#!">
                    <div class="footer__more">
                        <h5 class="fa-solid fa-envelope" style="color: #fff;"></h5>
                        <span>cs@homecare.com</span>
                    </div>
                </a>
                <a href="#!">
                    <div class="footer__more">
                        <h5 class="fa-solid fa-phone" style="color: #fff;"></h5>
                        <span>08 3930 5057 - 08 3930 5058</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="footer__right">
                <div class="row">
                    <h2 class="col-12 footer__heading" style="text-align: center;">LIÊN HỆ</h2>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <form method="post" action="/contact">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" name="name" id="" placeholder="Họ và tên" class="footer__input" required>
                            </div>
                            <div class="col-6">
                                <input type="text" name="phone" id="" placeholder="Số điện thoại" class="footer__input" required minlength="10" maxlength="12">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <input type="email" name="email" id="" placeholder="Email" class="footer__input" required>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <textarea name="message" id="" cols="30" rows="10" placeholder="Nội dung" class="footer__input" required></textarea>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-12" style="text-align: center;">
                                <button class="btn btn-primary">Gửi Tin</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
   <div class="footer__bottom" style="margin-top: 50px;">
        <div class="container">
            <div class="row" style="display:flex;align-items:center;">
                <div class="col-6">
                    <span style="color: #fff;font-size: 16px;font-weight: 400;display:flex;align-items:center;">© 2024 HomeCare. All rights reserved.</span>
                </div>
                <div class="col-6" style="text-align: center;">
                    <div class="footer__list-icon">
                        <!-- icon 1 -->
                        <a class="footer__link">
                            <div class="footer__item-icon footer__item-icon-facebook">
                                <img src="/icon/facebook.svg" alt="facebook" class="footer__icon-facebook icon1">
                            </div>
                        </a>
                        <!-- icon 2 -->
                        <a class="footer__link">
                            <div class="footer__item-icon footer__item-icon-youtube">
                                <img src="/icon/youtube.svg" alt="youtube" class="footer__icon-youtube icon1">
                            </div>
                        </a>
                        <!-- icon 3 -->
                        <a class="footer__Link">
                            <div class="footer__item-icon footer__item-icon-tiktok">
                                <img src="/icon/tiktok.svg" alt="tiktok" class="footer__icon-tiktok icon1">
                            </div>
                        </a>
                        <!-- icon 4 -->
                        <a class="footer__link">
                            <div class="footer__item-icon footer__item-icon-twitter">
                                <img src="/icon/twitter.svg" alt="twitter" class="footer__icon-twitter icon1">
                            </div>
                        </a>
                        <!-- icon 5 -->
                        <a class="footer__link">
                            <div class="footer__item-icon footer__item-icon-linkin">
                                <img src="./icon/linkin.svg" alt="linkin" class="footer__icon-linkin icon1">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
   </div>