
    <header class="header__slideshow">
        <div class="wrapper">
            <div class="header-slideshow header-slideshow__row">
                <div class="header-logo">
                    <a href="#">
                        <img src="/icon/logo-removeBg.png" alt="logo" class="header-logo__img">
                    </a>
                </div>
                <div class="header-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__item"><a href="#introduce">Giới thiệu</a></li>
                        <li class="header-menu__item"><a href="#service">Dịch vụ</a></li>
                        <li class="header-menu__item"><a href="#helper">Người giúp việc</a></li>
                        <li class="header-menu__item"><a href="#">Bảng giá</a></li>
                        <li class="header-menu__item"><a href="#faq">Hỏi đáp</a></li>
                        <li class="header-menu__item"><a href="#">Chính sách</a></li>
                        <li class="header-menu__item"><a href="#contact">Liên hệ</a></li>
                        <li class="header-menu__item"><a href="/blog">Blog</a></li>
                        <li class="header-menu__item"><a href="/account">Đăng nhập</a></li>
                        <li class="header-menu__item"><a href="/account/register">Đăng kí</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {{!-- <section class="slider-lastest owl-carousel owl-theme">
        <div class="slider-lastest__item slider-lastest__item--1">
    
        </div>
        <div class="slider-lastest__item slider-lastest__item--2">
    
        </div>
        <div class="slider-lastest__item slider-lastest__item--3">
        </div>
        <div class="slider-lastest__item slider-lastest__item--4">
    
        </div>
    </section> --}}