<div class="container">
    <div class="nav-top">
        <!-- ba gach -->
        <div class="nav-top__group">
            <button class="nav-top__btn js-toggle" toggle-target="#navbar">
                <img src="/icon/ba-gach.svg" alt="ba-gach" class="icon nav-top__icon">
            </button>
        </div>
        <!-- logo -->
        <a href="./">
            <div class="logo">
                <img src="/icon/logo-removeBg.png" alt="grocerymart" class="logo__img logo __img-header">
            </div>
        </a>
        <!-- nav -->
        <nav class="navbar">

            <ul id="navbar" class="navbar__list">
                <div class="navbar-dis">
                    <button class="navbar__close--btn js-toggle" toggle-target="#navbar">
                        <img src="/icon/arrow-left.svg" alt="arrow-left">
                    </button>
                    <a href="/account" class="nav-btn">
                        <button class="btn btn--text">Sign-in</button>
                    </a>
                    <a href="/account/register" class="nav-btn">
                        <button class="btn btn--primary">Sign-up</button>
                    </a>
                </div>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">GIỚI THIỆU
                        {{!-- <img class="icon navbar__arrow" src="/icon/arrow-down.svg" alt="arrow-down"> --}}
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">DỊCH VỤ
                        {{!-- <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow"> --}}
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">NGƯỜI GIÚP VIỆC
                        {{!-- <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow"> --}}
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">BẢNG GIÁ
                        <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow">
                    </a>

                    <div class="price-list">
                        <table>
                            <thead>
                                <th scope="col" style="width:20%">Service</th>
                                <th scope="col" style="width:20%">Description</th>
                                <th scope="col" style="width:20%">Extra Fee</th>
                                <th scope="col" style="width:20%">Basic Price</th>
                            </thead>
                            <tbody>
                                {{#each services}}
                                <tr>
                                    <td>{{this.title}}</td>
                                    <td>{{{this.description}}}</td>
                                    <td>{{this.extraFee}}</td>
                                    <td>{{this.basicPrice}}</td>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">HỎI ĐÁP
                        <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow">
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">CHÍNH SÁCH
                        <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow">
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">LIÊN HỆ
                        <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow">
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">BLOG
                        {{!-- <img src="/icon/arrow-down.svg" alt="arrow-down" class="icon navbar__arrow"> --}}
                    </a>
                </li>
            </ul>
            <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
        </nav>
        <div class="top-act top-act__btn">
            <a href="/account/register">
                <button class="btn btn--text">Sign-in</button>
            </a>
            <a href="/account">
                <button class="btn btn--primary">Sign-up</button>
            </a>
        </div>
    </div>
</div>