<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="font-size:3rem;color:white;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chính sách</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Hai bên đồng ý cung cấp và sử dụng dịch vụ theo các điều khoản sau:</h3>
                    <h3 class="header-title">1. Quyền và nghĩa vụ của Khách hàng</h3>
                    <div class="header-para">
                        <p>- Đảm bảo môi trường làm việc tốt, an toàn và lành mạnh cho nhân viên Công ty (không có hoá chất độc hại, không bị ô
                        nhiễm, không có các hành vi quấy rối, xâm hại đến tính mạng, danh dự, nhân phẩm, thân thể của nhân viên Công ty);</p>
                        <p>- Tự bảo quản và chịu trách nhiệm trong việc quản lý tài sản của mình trong mọi trường hợp; Trường hợp Khách hàng giao
                        chìa khóa cho nhân viên của Công ty để thực hiện công việc, Khách hàng cam kết hành vi này của Khách hàng không tạo ra
                        quan hệ gửi giữ tài sản giữa Khách hàng và Công ty;</p>
                        <p>- Hủy buổi làm việc: để đảm bảo lịch làm việc ổn định cho nhân viên Công ty, Khách hàng sẽ không được quyền hủy buổi làm
                        việc. Trong trường hợp Khách hàng cần hủy buổi làm việc thì buổi làm việc đó sẽ được Công ty sắp xếp nhân viên làm bù
                        buổi làm bị hủy cho Khách hàng. Buổi làm bù này sẽ được thực hiện trong thời gian tối đa là 01 (một) tuần tính từ ngày
                        Khách hàng đăng ký dịch vụ. Sau thời gian này, nếu các bên không sắp xếp được thời gian để làm bù thì Công ty sẽ không
                        có trách nhiệm làm bù cho Khách hàng nữa;</p>
                        <p>- Trong trường hợp Khách hàng muốn thay đổi lịch làm việc, Khách hàng cần thông báo cho Công ty trước 24h của buổi làm
                        đó, nếu Khách hàng không thông báo trước thời gian 24h, Khách hàng sẽ phải chịu 100% phí dịch vụ của buổi làm việc đó;</p>
                        <p>- Không nhận nhân viên Công ty vào làm việc trực tiếp bằng bất kỳ hình thức nào trong thời gian sử dụng dịch vụ hoặc
                        trong vòng 3 tháng kể từ ngày đăng ký dịch vụ của Công ty; nếu vi phạm sẽ phải bồi thường chi phí tuyển dụng và đào tạo
                        nhân viên đó cho Công ty, chi phí do Công ty xác định nhưng sẽ không thấp hơn 5.000.000 đồng (bằng chữ: năm triệu đồng)
                        một nhân viên. Công ty có quyền công khai thông tin cá nhân của Khách hàng và nội dung các vi phạm của Khách hàng (nếu
                        có) trên các phương tiện truyền thông của Công ty nếu Khách hàng vi phạm điều khoản này;</p>
                        <p>- Có trách nhiệm theo dõi, xác nhận thời gian làm việc và các thông tin khác vào “Bảng đánh giá” của nhân viên Công ty.
                        Giờ làm việc phát sinh ngoài thời gian đã đăng ký sẽ được tính thêm phí;</p>
                        <p>- Kịp thời thông báo cho Công ty trong vòng 24 giờ nếu phát hiện những hành vi tiêu cực từ phía nhân viên Công ty để hai
                        bên cùng phối hợp xử lý;</p>
                        <p>- Trong trường hợp Khách hàng không hài lòng với chất lượng công việc hoặc phát hiện mất, hoặc hư hỏng tài sản trong
                        thời gian nhân viên Công ty đang làm việc cho Khách hàng thì Khách hàng phải ghi nhận vào "Bảng đánh giá”, thông báo
                        ngay cho đại diện của Công ty, giữ chân Nhân viên của Công ty đến khi đại diện của Công ty có mặt;</p>
                        <p>- Trong trường hợp nghi ngờ nhân viên Công ty có hành vi trộm cắp tài sản hoặc làm hư hỏng tài sản của Khách hàng nhưng
                        chưa có kết luận của cơ quan điều tra, Khách hàng không được cung cấp thông tin cho bất kỳ cá nhân, tổ chức nào làm ảnh
                        hưởng đến uy tín, thương hiệu của Công ty. Nếu vi phạm, Khách hàng phải thanh toán cho Công ty một khoản tiền bồi
                        thường, khoản tiền này sẽ do Công ty xác định;</p>
                        <p>- Không tự ý thoả thuận với nhân viên Công ty để thay đổi, làm sai khác các nội dung đã thống nhất trong văn bản này.</p>
                    </div>
                    <h3 class="header-title">2. Quyền và nghĩa vụ của Công ty</h3>
                    <div class="header-para">
                        <p>- Cung cấp nhân viên giúp việc cho Khách hàng đảm bảo lý lịch, nguồn gốc rõ ràng và có xác nhận của chính quyền địa
                        phương, đã được đào tạo về nghiệp vụ giúp việc gia đình theo tiêu chuẩn của Công ty;</p>
                        <p>- Thường xuyên trao đổi và tiếp nhận thông tin phản hồi từ Khách hàng về chất lượng dịch vụ; cung cấp lại dịch vụ cho
                        phần việc xảy ra do lỗi của nhân viên Công ty làm Khách hàng chưa hài lòng, thể hiện trên “Bảng đánh giá” của nhân viên.</p>
                    </div>
                    <h3 class="header-title">3. Giải quyết tranh chấp và khiếu nại</h3>
                    <div class="header-para">
                        <p>Khi xảy ra mâu thuẫn, tranh chấp, hai bên sẽ ưu tiên tiến hành giải quyết công việc thông qua việc tự thương lượng, hoà
                        giải, trên tinh thần hỗ trợ lẫn nhau. Nếu không, mọi mâu thuẫn, tranh chấp sẽ được đưa ra giải quyết tại Toà án Nhân dân
                        có thẩm quyền.</p>
                    </div>
                    <h3 class="header-title">4. Thanh toán phí dịch vụ</h3>
                    <div class="header-para">
                        <p>- Khách hàng có nghĩa vụ thanh toán tiền phí sử dụng dịch theo từng tháng nếu là hợp đồng dài hạn hoặc ngay khi kết thúc
                        thời gian sử dụng dịch vụ nếu là hợp đồng ngắn hạn (dưới một tháng).</p>
                        <p>- Khách hàng thanh toán bằng tiền mặt cho nhân viên do Công ty chỉ định theo giấy giới thiệu của Công ty.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #478e3a;">Thoát</button>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div>
            </div>
        </div>
    </div>
    <header class="header__slideshow">
        <div class="wrapper">
            <div class="header-slideshow header-slideshow__row">
                <div class="header-logo">
                    <a href="#">
                        <img src="/icon/logo-text ngang.png" alt="logo" class="header-logo__img">
                    </a>
                </div>
                <!-- Thêm nút hamburger menu -->
                <div class="mobile-menu-btn">
                <button class="short-helper__btn js-toggle" toggle-target="#mobile-menu"
                    style="width:30px; height:30px;">
                    <i class="fa-solid fa-bars"></i>
                </button>
                </div>             
                <!-- Thêm class mobile-menu để điều khiển hiển thị-->
                <div class="aside-detail__longterm hide" id="mobile-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__item"><a href="#">
                        <img src="/icon/logo-removeBg.png" alt="logo" class="header-logo__img">
                        </a></li>
                        <li class="header-menu__item"><a href="#introduce">Giới thiệu</a></li>
                        <li class="header-menu__item"><a href="#service">Dịch vụ</a></li>
                        <li class="header-menu__item"><a href="#helper">Người giúp việc</a></li>
                        <li class="header-menu__item"><a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Bảng giá</a></li>
                        <li class="header-menu__item"><a href="#faq">Hỏi đáp</a></li>
                        <li class="header-menu__item"><a href="#" data-toggle="modal" data-target="#exampleModalCenter">Chính sách</a></li>
                        <li class="header-menu__item"><a href="#contact">Liên hệ</a></li>
                        <li class="header-menu__item"><a href="/blog" target="_blank">Blog</a></li>
                        {{#if user}}
                        <li class="header-menu__item"><a href="/account/detailed">{{user.fullName}}</a></li>
                        {{else}}
                        <li class="header-menu__item"><a href="/account">Đăng nhập</a></li>
                        <li class="header-menu__item"><a href="/account/register">Đăng kí</a></li>
                        {{/if}}
                    
                    </ul>
                </div>
                <div class="header-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__item"><a href="#introduce">Giới thiệu</a></li>
                        <li class="header-menu__item"><a href="#service">Dịch vụ</a></li>
                        <li class="header-menu__item"><a href="#helper">Người giúp việc</a></li>
                        <li class="header-menu__item"><a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Bảng giá</a></li>
                        <li class="header-menu__item"><a href="#faq">Hỏi đáp</a></li>
                        <li class="header-menu__item"><a href="#"  data-toggle="modal" data-target="#exampleModalCenter">Chính sách</a></li>
                        <li class="header-menu__item"><a href="#contact">Liên hệ</a></li>
                        <li class="header-menu__item"><a href="/blog" target="_blank">Blog</a></li>
                        {{#if user}}
                            <li class="header-menu__item">
                                <a href="/account/detailed">{{user.fullName}}</a>
                            </li>
                        {{else}}
                        <li class="header-menu__item"><a href="/account">Đăng nhập</a></li>
                        <li class="header-menu__item"><a href="/account/register">Đăng kí</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="font-size:3rem;color:white;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Bảng Giá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <h1 style="margin-bottom: 10px;">Bảng giá cho một người giúp việc</h1>
                
                <table class="price-table">
                    <tr>
                        <th>Dịch vụ</th>
                        <th>Phí cơ bản(VNĐ/Giờ)</th>
                        <th>Phụ phí</th>
                        <th>Phí ngoài giờ</th>
                    </tr>
                    <tr>
                        <td>Osin part time</td>
                        <td>25.000 VND</td>
                        <td>Không</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Dọn dẹp</td>
                        <td>10.000 VND</td>
                        <td>Không</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>Nấu ăn</td>
                        <td>10.000 VND</td>
                        <td>Có</td>
                        <td>5%</td>
                    </tr>
                </table>
                
                <div class="notes">
                    <h2 style="font-weight: 700px;">Ghi Chú</h2>
                    <ul>
                        <li><p style="text-align: justify;">
                            Phụ phí: là phí tính cho những dịch vụ mà khách hàng có những yêu cầu thêm nhưng chưa được xác định trước.
                                Phụ phí này sẽ được nhân viên công ty tư vấn cho quý khách hàng ứng với từng trường hợp cụ thể.
                        </p></li>
                        <li>Phí ngoài giờ: là % phí cơ bản, tính cho những dịch vụ mà khách hàng yêu cầu được phục vụ ngoài khung giờ
                            chuẩn. Khung giờ chuẩn của công ty là từ 8 giờ sáng đến 6 giờ chiều.</li>
                    </ul>
                
                    <h2 style="font-weight: 700px;">Chính sách đặc biệt về giá</h2>
                    <ul>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn từ 7 đến 15 ngày, quý khách hàng được giảm giá 5% tổng
                            chi phí cho cả đơn hàng.</li>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn hơn 15 ngày, quý khách hàng được giảm giá 10% tổng chi
                            phí cho cả đơn hàng.</li>
                    </ul>
                </div>
                <div class="notes">
                    <h2 style="font-weight: 700px;">Chính sách đặc biệt về giá</h2>
                    <ul>
                        <li>Phụ phí: là phí tính cho những dịch vụ mà khách hàng có những yêu cầu thêm nhưng chưa được xác định trước.
                            Phụ phí này sẽ được nhân viên công ty tư vấn cho quý khách hàng ứng với từng trường hợp cụ thể.</li>
                        <li>Phí ngoài giờ: là % phí cơ bản, tính cho những dịch vụ mà khách hàng yêu cầu được phục vụ ngoài khung giờ
                            chuẩn. Khung giờ chuẩn của công ty là từ 8 giờ sáng đến 6 giờ chiều.</li>
                    </ul>
                
                    <h2 style="font-weight: 700px;">Chính sách đặc biệt về giá</h2>
                    <ul>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn từ 7 đến 15 ngày, quý khách hàng được giảm giá 5% tổng chi phí cho cả
                        đơn hàng.</li>
                        <li>Trường hợp quý khách hàng đặt đơn hàng có thời hạn hơn 15 ngày, quý khách hàng được giảm giá 10% tổng chi phí cho cả đơn
                        hàng.</li>
                        <li>Ngoài ra, công ty còn có những mã khuyến mãi sẽ được gửi trực tiếp đến quý khách hàng cho những dịp đặc biệt và/hoặc
                        những khách hàng thân thiết.</li>
                    </ul>
                </div>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        style="background-color: #478e3a;">Thoát</button>
                    
                </div>
            </div>
        </div>
    </div>
