<form action="/account" method="post">
    <input type="tel" name="phone">
    <input type="text" name="password">
    <button>Login</button>
</form>

<div>
    Don't have an account?<a href="/account/register">Sign up</a>
</div>