<style>

    i.disabled{
        background-color: grey;
    }
    i{
        background-color: greenyellow;
        border-radius: 50%;
    }
</style>
<div style="text-align: center;  padding:50px">
    <form method="post" action="/account/register">
    <div>
        <label >Phone number</label>
        <input required type="tel" name="phone" id="phoneinput" value="{{account}}">
    </div>

    <div>
        <label >Authen Code</label>
        <input type="tel" name="code" id="code-input">
        <a class="getOtp" href=""><i class="fa-solid fa-shield-halved disabled" style="padding: 10px; "></i></a>
    </div>

    <div>
        <label >Password</label>
        <input required type="password" name="password" id="accountinput" value="{{account}}">
    </div>
     

    <button class="submit-btn">Submit</button>
    </form>
    <label >already have an account? <a href="/account">Sign in</a></label>
</div>


<script>
    const formRegister= document.querySelector('form')
    const submitBtn=formRegister.querySelector('.submit-btn');
    const accountInput =document.querySelector('#phoneinput');
    const codeInput =document.querySelector('#code-input')
    const getOtpBtn= document.querySelector('.getOtp')

</script>