<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project 8</title>
    <!-- link css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- script -->
    <script src="/js/scripts.js"></script>
</head>

<body>
    <main class="auth">
        <div class="auth__intro">
            <!-- logo -->
            <a href="./">
                <div class="logo auth__logo auth__logo-sign-in">
                    <img src="/icon/logo-removeBg.png" alt="Homecare" class="logo__img">
                    <h1 class="logo__title">Homecare</h1>
                </div>
            </a>
            <img src="/icon/logo-removeBg.png" alt="sign-up" class="auth__intro-img">
        </div>
        <div id="btn-content" class="auth__content">
            <div class="auth__content-inner">
                <!-- logo -->
                <a href="./">
                    <div class="logo">
                        <img src="/icon/logo-removeBg.png" alt="grocerymart" class="logo__img logo__img--large">
                        {{!-- <h1 class="logo__title">Homecare</h1> --}}
                    </div>
                </a>
                <h2 class="auth__heading">Hello Again!</h2>
                <p class="auth__desc">Welcome back to sign in. As a returning customer, you have access to your previously saved all information.</p>
                <form id="form-1" method="post" action="/account" class="form auth__form">
                    <!-- input 1 -->
                    <div class="form__group">
                        <div class="form__text-input form-control">
                            <input id="tel-input" placeholder="phone" type="tel" class="form__input" name="phone"
                                value="{{account}}" required min-length="10" >
                            <img src="/icon/evelope.svg" alt="evelope" class="form__input-icon">
                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                        </div>
                        <p class="form__error"></p>
                        {{!-- please enter at least about 10 number --}}
                    </div>
                    <!-- input 2 -->
                    <div class="form__group">
                        <div class="form__text-input form-control">
                            <input name="password" id="password" placeholder="password" type="password" class="form__input"
                                minlength="6" value="{{account}}"  required>
                            <img src="/icon/key.svg" alt="key" class="form__input-icon">
                            <img src="/icon/error.svg" alt="" class="form__input-icon-error">
                        </div>
                        <p class="form__error"></p>
                    </div>
                    <!-- input 3 -->
                    <!-- input 4 -->
                    <div class="form__group form__group-inline">
                        <label class="form__check-box">
                            <input type="checkbox" class="form__checkbox-input">
                            <span class="form__checkbox-label">Set as default card</span>
                        </label>
                        <a href="./forgot-password.html" class="auth__link">Forgot Password</a>
                    </div>
                    <!-- item 5  -->
                    <div class="form__group form__group-btn form__submit-btn">
                        <button type="submit" class="btn btn--primary">Log In</button>
                        <button class="btn btn--outline btn-center">
                            <img src="/icon/gg.svg" alt="google" class="btn__icon icon">
                            Set as default card
                        </button>
                    </div>
                </form>
                <p class="auth__text">
                    Don’t have an account yet?
                    <a href="/account/register" class="auth__link">Sign Up</a>
                </p>
            </div>
        </div>
    </main>
    <script src="/js/app.js"></script>
    <script>
        // điều mình mong muốn
        validator({
            form: "#form-1",
            errorElement: ".form__error",
            formGroupElement: ".form__group",
            rules: [
            validator.isRequire("#tel-input","You haven't entered yet."),
            validator.isPhone("#tel-input","Please enter the phone number in the correct format"),
                validator.isRequire("#password", "You haven't entered yet."),
                validator.isMInPassword("#password", 6, "the password enter at least 6 characters"),
            ],
            onsubmit: function (data) {
                console.log(data);
            }
        })
    </script>
    <script>
        window.dispatchEvent(new Event("template-loaded"));
    </script>
    <script>
        const formRegister = document.querySelector('form')
        const submitBtn = formRegister.querySelector('.submit-btn');
        const emailInput = document.querySelector('#email-input');
        const passWordInput = document.querySelector('#password-input');
        const confirmPasswordInput = document.querySelector('#confirm-password-input');
    </script>
</body>

</html>