<form method="post" action="/register/create">
    <label > Phone</label>
    <input type="text" name="Phone Number" id="input-phonenumber">
    <label > Authen Code</label>
    <input type="text" name="Phone Number" id="input-phonenumber">
    <button class="submit-btn" >Submit</button>
</form>

<script>
    const formRegister= document.getElementsByTagName('form')
    const submitBtn=document.getElementsByClassName('submit-btn');
    console.log(submitBtn ,formRegister)

</script>