@use "../abstracts";
.drop-down{
    position:absolute;
    padding-top:54px;
    left:0;
    width:min(1240px,100%);
    display:none;
     @include abstracts.screen(lg){
        position:initial;
        // display:block;
        padding-top :0;
        }

    &__inner{
        --inner-padding:30px;
        position:relative;
        padding:var(--inner-padding);
        border-radius: 20px;
        background: var(--background-dropdown);
        box-shadow: 0px 40px 90px 20px var(--color-box-shadow);
        @include abstracts.screen(lg){
            padding:0;
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
        }
        &::before{
            content:url("../icons/arrow-top.svg");
            position:absolute;
            filter: var(--color-arrow-top);
            top:-12px;
            left: var(--arrow-left-pos);
            translate: -50%;
        }
        @include abstracts.screen(lg){
            &::before{
                content:none;
            }
        }
    }
}
.menu-top{
    position:relative;
    &__main{
        --width-menu-top-main:292px;
        max-height:calc(min(582px, 100vh - 150px) - var(--inner-padding) * 2);
        width:var(--width-menu-top-main);
        border-right:solid 1px var(--menu-top-main-color-border-right);
        overflow-y: auto;
        @include abstracts.screen(lg){
            width:100%;
            max-height: none;
            height:auto;
            border-right:none;
        }

    }
    &__content{
        flex-grow: 1;
    }
    &__content--heading{
        margin-top: 10px;
        color: var(--Secondary-Color-Secondary-1);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
    }
    &__list{
        margin-top:26px;
    }
    &__link{
        display: block;
        padding:3px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42; /* 142.857% */
    }
    &__item{
        padding:3px 0;
        &:first-child .menu-top__link{
            padding-top:0;
        }
        &:last-child .menu-top__link{
            padding-bottom: 0;
        }
        &--active > .menu-top__link,
        &:hover > .menu-top__link{
            color: var(--Blue-Blue-hover, #0071DC);
        }
        &--active .sub-menu{
            display: grid;
        }
    }
}
.menu-column{
    display: flex;
    gap:14px;
    +.menu-column{
        margin-top:30px;
    }
    &__icon{
        width:36px;
        height:36px;
        position:relative;

    }
    &__icon-1{
        width:30px;
        height:30px;
        object-fit: cover;

    }
    &__icon-2{
        position:absolute;
        right:0;
        bottom: 0;
        width:24px;
        height:24px;
        object-fit:cover;
        filter: var(--filter-case-2);
    }
}
.sub-menu{
    position:absolute;
    // background-color: orange;
    padding-left:30px;
    inset:0 0 0 277px;
    display: none;
    grid-template-columns: repeat(3,1fr);
     overflow-y: auto;
     @include abstracts.screen(lg){
        position:initial;
        grid-template-columns: 1fr;
        padding-left: 0;
        
     }
     &__notmain{
        display:grid;
        position:inherit;
        inset:inherit;
        grid-template-columns: repeat(4,1fr);
        max-height:calc(min(582px, 100vh - 150px) - var(--inner-padding) * 2);
        @include abstracts.screen(lg){
            grid-template-columns:1fr;
            padding-left:0;
            height:auto;
            max-height:none;
        }
     }
}