@use "../abstracts";
.filter-wrap{
    position:relative;
}
.filter{
    margin-top:10px;
    position:absolute;
    right:0;
    top:50px;
    background:var(--Secondary-Color-Background);
    z-index: 5;
    border-radius: 20px;
    padding:30px;
    transition: opacity visibility;
    transition-duration: 0.3s;
    // @include abstracts.screen(xl){
    //     height: calc(100vh - 350px);
    //     overflow-y: auto;
    //     overscroll-behavior: contain;
    //     padding-bottom:0;
    // }
    @include abstracts.screen(sm){
        position:fixed;
        height:100vh;
        width:100vw;
        inset:0;
        margin-top:0;
        border-radius: 0;

    }
    &__form{
        max-height:calc(100vh - 350px);
        overflow-y: auto;
        overscroll-behavior: contain;
        padding:0 20px;
        @include abstracts.screen(sm){
            // max-height:calc(100vh - 350px);
            // height:100%;
            max-height: calc(100vh - 90px);
        }

    }
    &.hide{
        opacity: 0;
        visibility: hidden;
    }
    &__arrow-top{
        position:absolute;
        top:-13px;
        right:26px;
        filter: var(--color-arrow-top);
    }
    &__heading{
        font-size: 2.2rem;
        padding-bottom:30px;
        font-weight: 500;
        line-height: 32px; /* 145.455% */
    }
    &__row{
        display:flex;
    }
    &__content{
        @include abstracts.screen(xl){
            flex-direction: column;
        }
    }
    &__separate{
        width:2px;
        background-color: #EEEEEE;
        margin:0 30px;
        @include abstracts.screen(xl){
            width:initial;
            height:2px;
            margin:30px 0px;
        }
    }
    &__footer{
        display:flex;
        margin-top:32px;
        justify-content: flex-end;
        @include abstracts.screen(xl){
            position:sticky;
            bottom:0;
            background-color:var(--Secondary-Color-Background);
            padding-bottom:20px;
        }
        @include abstracts.screen(sm){
            display:grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__cancel, &__search{
        height:38px;
    }
    &__cancel{
        font-size:1.5rem;

    }
    &__search{
        font-size:1.4rem;

    }
}
.filter__form{
    &-label{
        display:block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 32px; /* 145.455% */
        padding-bottom: 10px;
    }
    &-label--small{
        display:block;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
    }
    &-slider{
        position:relative;
        width:100%;
        height:2px;
        background-color: var(--color-slider);
        margin-top: 15px;
        &::before, &::after{
            content:"";
            position:absolute;
            display:inline-block;
            top:50%;
            translate: 0 -50%;
            width: 22px;
            height: 22px;
            border-radius:50%;
            border:solid 6px yellow;
            background-color: var(--Secondary-Color-Background);
        }
        &::before{
            left:var(--min-value);
        }
        &::after{
            left:var(--max-value);
        }
    }
    &-group{
        padding-top:20px;
    }
    &-group--inline{
        display:flex;
        gap:30px;
        @include abstracts.screen(sm){
            justify-content: space-between;
            gap:10px;
        }


    }
    &-input{
        border:solid 1px #fff;
        border-radius: 6px;
        background-color: transparent;
        padding:12px;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        width:121px;
        // width:100%;
        @include abstracts.screen(sm){
            width:100%;
            font-size:1.6rem;
        }
    }
    &-selector-wrap{
        display:flex;
        border: solid 1px #fff;
        padding:10px 15px;
        border-radius: 6px;
        @include abstracts.screen(sm){
            justify-content: space-evenly;
            flex-grow: 1;
        }
        
    }
    &-selector{
        display:flex;
        align-items: center;
        border-right: solid 1px #fff;
        padding-right:14px;
        gap:65px;
        @include abstracts.screen(sm){
            gap:0px;
            flex-grow:1;
            justify-content: space-between;
        }
    }
    &-selector+&-selector{
        border-right:0;
        padding-left:14px;
        padding-right:0;
        gap:17px;
        @include abstracts.screen(sm){
            justify-content: space-between;
            gap:0;
        }
    }
    &-tags{
        display:flex;
        gap:20px;
        @include abstracts.screen(sm){
            justify-content: space-evenly;
            gap:0;
        }
    }
    &-tag{
        padding:6px 12px;
        background-color: var(--color-tag);
        border-radius: 6px;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        transition: opacity 0.2;
        &:hover{
            opacity:0.4;
        }
    }
    &-input-text{
        display:flex;
        align-items: center;
        border:solid 1px var(--color-border);
        padding-right:10px;
    }
    &-input--mod{
        border: none;
        width:100%;
    }



}