@use "../abstracts";
.product-card{
    padding:16px;
    border-radius: 20px;
    background-color: var(--br-product-card);
    box-shadow: var(--color-box-shadow-pro-card);
    height:100%;
    &__img-wrap{
       padding-top:100%;
       position:relative;
    }
    &__img-thumb{
        position:absolute;
        top:0;
        bottom:0;
        width:100%;
        height:100%;
        object-fit: contain;
    }
    .like-btn__product-item{
        position:absolute;
        bottom:0;
        right:0;
    }
    .product-item{
        &__title{
        margin-top:16px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
    &__price, &__rate{
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 24px; /* 150% */
    }
    &__branch{
        display: inline-block;
        margin-top:16px;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 146.667% */
    }
    &__infor{
        margin-top:16px;
        display:flex;
        align-items: center;
    }
    &__star{
        margin-left:auto;
        margin-right:6px;
    }
    }
}