@use "../abstracts";
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select:hover{
  background-color: #8c8c8c;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #FFF;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 19px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 11px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #FFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height:300%;
  overflow-y: auto;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.hide-form{
  display: none;
}