@use "../abstracts";
.slideshow{
    &__inner{
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__search{
        z-index: 100;
        position:absolute;
        display: block;
        top: 269px;
        width:100%;
    }
    &__search-heading{
        text-align: center;
        margin-top: -8px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 3rem;
        color: #02571C;
    }
    &__list{
        width:100%;
        height:100vh;
    }
    &__item{
        width:100%;
        height:100vh;
        background:url(/img/picture-home-1-destop.jpg) no-repeat center center;
        background-size: cover;
        background-position: center;
        animation: animate 15s infinite ease-in-out;
    }
    @keyframes animate{
        0%{
            background: url(/img/picture-home-1-destop.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        25%{
            background: url(/img/picture-home-2-destop.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        50%{
            background: url(/img/picture-home-3-destop.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        100%{
            background: url(/img/picture-home-1-destop.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    &__form-group{
        display: flex;
    }
    &__form-group--button{
        width:30%;
        margin-left:auto;
        margin-right:auto;
    }
    &__form-group--adjust{
        width:75%;
        height:44px;
    }
    &__form-group--remain {
        width:25%;
        height:44px;
    }
    .form-select__province{
        width: 35%;
        font-size: 1.3rem;
        font-weight: 600;
        height: 44px;
        border-radius: 0;
      border:1px solid #02571C;
      border-right: none;
    }
   
    // .status:active{
    //     background-color: red;
    // }
    // .status:hover{
    //     background-color: #02571C;
    // }
    .form-select__district{
        width: 25%;
        font-size: 1.3rem;
        font-weight: 600;
        height: 44px;
        border-radius: 0;
        border:1px solid #02571C;
        border-left:none;
        border-right:none;
    }
    .form-select__service{
        width: 40%;
        font-size: 1.3rem;
        font-weight: 600;
        height: 44px;
        border-radius: 0;
     border:1px solid #02571C;
        border-left:none;
        border-right:none;
         white-space: nowrap;
    }
    
   
    .form-select__end-time{
        width: 50%;
        font-size: 1.3rem;
        font-weight: 600;
        height: 44px;
        border-radius: 0;
        border:1px solid #02571C;
        border-left:none;
        border-right:none;
       
    }
  
    .form-select__start-time{
        width: 50%;
        font-size: 1.3rem;
        font-weight: 600;
        height: 44px;
        border-radius: 0;
        border:1px solid #02571C;
        border-left:none;
        border-right:none;
       
        
    }
    &__hidden{
            z-index: 1;
            animation: opacity-anime-hidden;
            animation-duration: 1.5s;
        }
        @keyframes opacity-anime-hidden{
            0%{
                opacity:1;
                transition: opacity;
                transition-duration: 0.5;
            }
            20%{
                opacity:0.8;
                transition: opacity;
                transition-duration: 0.5;
            }
            40%{
                opacity:0.6;
                transition: opacity;
                transition-duration: 0.5;
            }
            60%{
                opacity:0.4;
                transition: opacity;
                transition-duration: 0.5;
            }
            80%{
                opacity:0.2;
                transition: opacity;
                transition-duration: 0.5;
            }
            100%{
                opacity:0;
                transition: opacity;
                transition-duration: 0.5;
            }
        }
        &__appear{
             z-index: 2;
            animation: opacity-anime-appear;
            animation-duration: 1.5s;
        }
        @keyframes opacity-anime-appear{
            0%{
                opacity:0;
                transition: opacity;
                transition-duration: 0.5;
            }
            20%{
                opacity:0.2;
                transition: opacity;
                transition-duration: 0.5;
            }
            40%{
                opacity:0.4;
                transition: opacity;
                transition-duration: 0.5;
            }
            60%{
                opacity:0.6;
                transition: opacity;
                transition-duration: 0.5;
            }
            80%{
                opacity:0.8;
                transition: opacity;
                transition-duration: 0.5;
            }
            100%{
                opacity:1;
                transition: opacity;
                transition-duration: 0.5;
            }
        }

}
.form__short-term{
    margin-top:20px;
    display:flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.form__long-term{
    margin-top:20px;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.heading{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 3rem;
        color: #02571C;
    }
    .heading::after{
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: #02571C;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
.about{
    padding-top:50px;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 100px;

    &__content{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        color: #02571C;
        text-align: justify;
        line-height: 1.5;
    }
    &__process-inner{
        height: 100%;
    }   

    &__process-item{
        text-align: center;
        border:8px solid #84B742;;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6rem;
        color:  #989898;
        position: relative;
    }   
    &__process-item::after{
        content: "";
        background-image: url(/icon/arrow-process.png);
        position: absolute;
       width:71px;
        height:13px;
       background-size: 100%;
       background-repeat: no-repeat;
       background-position: center;
       left: 100px;
    }
    &__process-heading{
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: 400;
        color: #02571C;
        white-space: nowrap;
    }   
    &__process-center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }   
    .col-md-3:last-child>.about__process-item::after{
        background:none;
    }
}
#service{
    margin-top: 50px;
    padding-top:100px;
    text-align: center;
    background-color: #84B742;
    padding-bottom: 100px;
}
.service{
    &__box{
        padding:25px;
        height:min(255px,100%);
    }
    &__box:hover{
        padding:20px;
        cursor: pointer;   
        z-index: 10;
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(22,22, 22, 0.9);
        transition: transform 0.3s ease;
        opacity: 0.8;
        border: 1px solid #02571C;
        border-radius: 10px;
        

    }
    // &__box:hover:not(:active){
    //     transform: scale(1.05);
    // }
   &__box-heading{
    font-size: 20px;
    font-weight: 600;
    color: #02571C;
    margin-top: 20px;
    margin-bottom: 10px;
   }
   &__box-content{
    font-size: 16px;
    font-weight: 400;
    color: #02571C;
    text-align: justify;
    line-height: 1.5;
   }
}
.margin-top{
    margin-top: 20px;
}
.helper{
    &__infor{
        color:white;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.5);
        position:absolute;
        width:110%;
        bottom:50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height:40px;
        box-sizing: border-box;
        }
    &__infor-name{
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
    }
    &__infor-time{
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    &__infor-age{
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
}
.padding-bottom{
    padding-bottom: 130px;
    border: 1px solid rgba(0, 0, 0, 0.5);
} 
.helper{
    &__mySwiper{
        height:500px;
    }
    &__wrapper{
         align-items: center;
    }
    &__swiper-slide{
        width:300px;
    height: 400px;
    &:hover .helper__infor{
        height:30%;
        bottom: 52px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &:hover .helper__infor-time{
        opacity: 1;
        visibility: visible;
    }
    &:hover .helper__infor-age{
        opacity: 1;
        visibility: visible;
    }
    &-img{
        width: 300px;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
        filter: blur(0px); // Initial blur
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); // Add box shadow for a beautiful effect

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            opacity: 0.9;
        }
    }
    }
}  

// .mySwiper{
//     height:500px;
// }

// .swiper-wrapper{
//     align-items: center;
// }
// .swiper-slide{
//     width:300px;
//     height: 400px;
//     &:hover .helper__infor{
//         height:30%;
//         bottom: 52px;
//         background-color: rgba(0, 0, 0, 0.5);
//     }
//     &:hover .helper__infor-time{
//         opacity: 1;
//         visibility: visible;
//     }
//     &:hover .helper__infor-age{
//         opacity: 1;
//         visibility: visible;
//     }
//     &__img{
//         width: 300px;
//         height: 350px;
//         object-fit: cover;
//         border-radius: 10px;
//         transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
//         filter: blur(0px); // Initial blur
//         box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); // Add box shadow for a beautiful effect

//         &:hover {
//             cursor: pointer;
//             transform: scale(1.05);
//             opacity: 0.9;
//         }
//     }
// }
.swiper-slide-active{
   scale: 1.2;
   transition:scale 0.3s ease;
}
.swiper-pagination{
    position:absolute;
    bottom:0;
    width:100%;
    height: 10px;
}
.swiper__slideshow{
    width: 100%;
    height: 100%;
}
.swiper-wrapper__slideshow{
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide__slideshow{
     text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}
.swiper-slide__slideshow .slideshow__img{
    object-fit: cover;
    display: block;
}   

